<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- COSTUM CSS--> <link rel="stylesheet" href="style.css">
<!-- CSS de TAILWIND --> <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<!-- CSS de FONTAWESOME --> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

 <title>your name</title>
</head>
<body>
@import url('');

body {
  font-family: Roboto; sans-serif;
  background: linear-gradient( rgba(195, 174, 214, 1) ,rgba(10, 66, 169, 1));
  color: blue;
}

h1, h2, h3, h4 {
 color: purple;
 font-family: 'RocknRoll One', sans-serif;
}

h1 {
  text-shadow:purple 1px 0 10px;
  color : white;
  text-align: center;
}

}
#profile {
  border-radius: 200%;
 
}

li {
  list-style-type: circle;
}

div{
  margin-top: 1px;
  margin-bottom: 16px;
  border-top : 1px solid;
  margin : 10px 20px;
  padding: 20px;
  background-color : white;
  border-radius : 10px;

}

.card {
  background-color: white;
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
 
}

a:visited {
  color: #blue;
}

 <!-- COPIER/COLLER CODE HTML ICI -->
 <h1>Isaure</h1>

</body>
</html>